:root {
  --color-bg-accent: #e0c550;
  --color-text-primary: #4a4a4a;
  --color-text-secondary: #e0e0e0;
  --color-bg-main: #f8f8f0;
  --color-bg-secondary: #2c3e50;
  --color-accent-light: #4a8f6d;
  --color-accent-dark: #2c3e50;
  --color-border: #d3d3d3;

  --highlight-color: #2c3e50;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #34495e;
  --cta-border-color: #c0b283;

  --font-body: 'Lora', serif;
  --font-heading: 'Dancing Script', cursive;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/dancing/DancingScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
