---
import HeaderLink from '@/components/HeaderLink.astro'
import { SITE_TITLE } from '@/consts'
---

<header>
  <nav>
    <h2>
      <a
        class='main-title'
        href='/'
        >{SITE_TITLE}</a
      >
    </h2>
    <div
      class='hamburger-menu'
      id='hamburger-menu'
    >
      &#9776; <!-- Icono de menú hamburguesa -->
    </div>
    <div
      class='internal-links'
      id='internal-links'
    >
      <HeaderLink href='/'>Inicio</HeaderLink>
      <!-- <HeaderLink href='/blog'>Blog</HeaderLink> -->
      <HeaderLink href='/gallery'>Galería</HeaderLink>
      <HeaderLink href='/about'>Sobre mí</HeaderLink>
      <HeaderLink href='/contact'>Contacto</HeaderLink>
    </div>
  </nav>
</header>

<style>
  header {
    background-color: var(--color-bg-secondary);
  }

  h2 a,
  h2 a:active {
    font-family: var(--font-heading);
    color: var(--color-bg-main);
    letter-spacing: 0.2rem;
  }

  header {
    margin: 0;
    padding: 0 1em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 0.5em 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    transition: opacity 0.2s ease;
    opacity: 1;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(---color-bg-main);
    border-bottom-width: 2px;
  }

  nav a:hover {
    opacity: 0.5;
  }

  .internal-links {
    display: flex;
    gap: 1em;
  }

  .hamburger-menu {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--color-bg-main);
  }

  @media (width <= 550px) {
    .internal-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 3.5em;
      right: 1em;
      background-color: var(--color-bg-secondary);
      padding: 1em;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    .hamburger-menu {
      display: block;
    }

    .internal-links.open {
      display: flex;
    }
  }
</style>

<script>
  const hamburgerMenu = document.getElementById('hamburger-menu')
  const internalLinks = document.getElementById('internal-links')

  hamburgerMenu!.addEventListener('click', () => {
    internalLinks!.classList.toggle('open')
  })
</script>
